.main{
background-color: blue;
height: 400px;
width: 400px;
position: relative;

}
.sub1{
  position: absolute;
    background-color: red;
    height: 250px;
    width: 250px;
    left:150px ;
    top:150px;



}
.sub2{
    position: absolute;
    background-color: black;
    height: 250px;
    width: 250px;
    right: 150px;
    bottom: 150px;

}